.homework_06_wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 80px;
  gap: 100px;
  justify-content: center;
}

.car_card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 150px;
  gap: 20px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
}

.car_info {
  font-size: 20px;
  font-weight: bold;
}