.lesson_06_page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px;
  flex: 1;
  gap: 80px;
  background-color: rgb(159, 236, 210);
}